@import '../Vars.scss';

.world-cases{
  width: 90%;
  max-width: 800px;
  background-color: #fff;
  margin: auto;
  border-radius: 16px;

  .world-cases__items{
    display: grid;
    grid-auto-flow: column;

    .world-cases__item{
      padding: $space-medium;
    
    .t-medium{
      color: #777;
    }

    .case-type{
      display: flex;
      justify-items: center;
      margin-bottom: 8px;

      i{
        font-size: 16px;
        margin-right: $space-small;
      }

      .fa-virus{
        color: #f1c40f;
      }

      .fa-check{
        color: #2ecc71;
      }

      .fa-skull-crossbones{
        color:#e74c3c;
      }

    }

  }
}

  .world-cases__title{
    display: flex;
    height: auto;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: $space-medium;
    
    i{
      font-size: 36px;
      margin-right: $space-small;
    }
  }
  
}