@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
$theme-font: 'Muli', sans-serif;

// colors
$color-red : #c0392b;
$color-dark: #222;

//spaces
$space-small:8px;
$space-medium:16px;
$space-large:24px;
$space-xlarge:36px;
